@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
}
main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.logo {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    background-image: url('logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contacts {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.text {
    font-weight: 200;
    color: aliceblue;
    max-width: 300px;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}
a:hover {
    color: gray;
}
.contacts a img {
    margin-top: 20px;
    width: 200px;
}
.contacts a img:hover {
    cursor: pointer;
    opacity: 0.5;
}